form {
  width: 300px;
  margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input {
    width: 100%;
    padding: 7px;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
}
[type=button] {
  width: auto;
  background-color: cornflowerblue;
  color: cornsilk;
  border: none;
  border-radius: 6px;
  padding: 8px;
  margin: 8px;
}
